Sphinx>=8.2.3
#sphinx-rtd-theme>=1.0.0
#docutils>=0.17
#rst2pdf>=0.98
#sphinx_charts>=0.2.1
#plotly>=5.16.0
#PyMuPDF>=1.19.3
sphinx-favicon>=1.0.1
#sphinxcontrib-youtube>=1.0.1
#sphinx-panels>=0.6.0
#sphinx-toolbox>=3.2.0
MarkupSafe>=2.1.1
#jinja2>=3.1.2
sphinxemoji>=0.3.1
sphinx-last-updated-by-git>=0.3.8
sphinx-github-changelog>=1.4.0
myst-parser>=4.0.1
sphinx-material>=0.0.36